certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
idna==3.4
packaging==23.1
python-dotenv==1.0.0
requests==2.31.0
tqdm==4.65.0
urllib3==2.0.4
webdriver-manager==3.8.6

pip==23.1.2
wheel==0.40.0
setuptools==68.0.0
selenium~=4.10.0