certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
idna==3.4
packaging==23.2
python-dotenv==1.0.0
requests==2.31.0
tqdm==4.66.1
urllib3==2.0.4
webdriver-manager==4.0.0

pip==23.2.1
wheel==0.41.2
setuptools==68.1.2
selenium~=4.12.0